* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(186, 238, 238);
  font-size: 20px;
  font-family: Arial;
  padding: 50;
}

h1 {
  font-size: 30px;
  margin-bottom: 25;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
h4 {
  margin-bottom: 20;
  text-align: center;
}
.primera {
  color: red;
}

#nombre {
  background-color: antiquewhite;
  border: 5px solid #444;
  width: 500px;
  padding: 20px;
  margin-top: 30px;
}
p {
  margin-bottom: 20px;
}
input,
button {
  padding: 10px;
  font-size: 16px;
}
#nombre h2 {
  color: darkgreen;
}
#imagen-1 {
  width: 500px;
}
